body{
    display: flex;
    margin: 0;
}

header{
    background-color: red;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 0.5em;
    font-size: 24px;
    width: 90vw;
}

#menuItems{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
}

#menuItems button{
    background-color: blue;
    color: white;
    border-style: solid;
    border-width: thin;
    width: 12em;
    height: 3em;    
}

#menuItems ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: goldenrod;
    font-family: arial, sans-serif;
    display: none;
}

#menuItems ul a:link{
    text-decoration: none;
}

#recentArticles:hover + #jumpMenu{
    display: block;
}

#jumpMenu:hover{
    display: block;
}

#jumpMenu li:hover{
    background-color: blue;
}

#jumpMenu li:hover a{
    color: black;
}

#menuItems button:hover{    
    background-color: goldenrod;
}

#container h2 + p::first-letter {
    font-family: Times New Roman, serif;
    font-size: 36px;
}

#container h2 + p + p::after {
    content: url("arrow.png");
}

main h1{
    text-align: center;
}


/* AI used to  figure out why articles weren't wrapping properly,
 fixed by switching from column to row direction */

#container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-left: 2em;
}



#container article{
    font-size: .8em;
    padding-right: 2em;
    color: gray;
    width: 30%;
    text-align: justify;
    transition: 2s;
}

#container article:hover{
    color:black;
    transition: 2s;
    font-size: 1em;
}

#thanks{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    border-style: solid;
    border-width: thin;
    padding: 0.5em;
    font-size: 1.25em;
    background-color: skyblue;
}