header{
    text-align: center;
    background-color: red;
    align-content: center;
    font: 1em "Arial", sans-serif;
    width: 90vw;
}

header nav{
    background-color: black;
}
header nav button{
    background-color: blue;
    color: white;
    height: 3em;
    width: 20%;
    margin-right: 1.5%;
    margin-left: 1.5%;
}

#jumpMenu{
    display:flex;
    flex-direction: column;
    background-color: darkgoldenrod;
    align-items: center;
    padding: 0 1em 1em;
    height: 100vh;
    width: 10vw;
}

#jumpMenu a{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

body{
    display: flex;
}


#jumpMenu h2{
    text-align: center;
}

main h1{
    text-align: center;
}

#container{
    display: flex;
    flex-wrap: wrap;
}

#container article{
    width: 300px;
    padding-left: 2.5%;
    font-family: "Arial", sans-serif;
    font-size: .75em;
}

#container article h2{
    font-size: 1.25em;
}

#thanks{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    border-style: solid;
    border-width: thin;
    padding: 0.5em;
    font-size: 1.25em;
    background-color: skyblue;
}
